.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;
  min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#fileInput{
  background-color: #37a1ed;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pics{
  width:400px;
}